<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VenueVue</title>
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var typed = new Typed(".t1", {
          strings: [
            "Life is an event. Make it memorable",
            "We create. You Celebrate",
            "Turning ideas into action",
          ],
          typeSpeed: 100,
          backSpeed: 100,
          backDelay: 1000,
          loop: true,
        });
      });
    </script>
  </head>
  <body>
    <header class="header">
      <nav>
        <a href="/landing" class="logo">VenueVue</a>
        <ul>
          <li>
            <a href="/register" class="header-items">Register</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="picture">
      <div class="text">
        <br /><br />
        <h1>Venue Booking</h1>
        <br />
        <h2><span class="t1"></span></h2>
      </div>
    </section>

    <footer>
      <p>Copyrights Sanjith & Karthik &copy; 2024.<br />All rights reserved.</p>
    </footer>
  </body>
</html>
